{% extends 'base.html.twig' %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('allergy_index') }}">Allergy</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
    <div id="row">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Edit Allergy</h3>
                <a href="{{ path('allergy_delete', {'id':id}) }}"
                   onclick="return confirm('Are you sure you want to delete this?')" class="btn btn-danger" role="button">
                    Delete
                </a>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


