{% extends 'base.html.twig' %}

{% block body %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            Allergy
        </li>
    </ol>
    <div id="row">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i> Allergies</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if not allergies %}
                            <tr>
                                <td colspan="3">Nothing in here yet!</td>
                            </tr>
                        {%  endif %}
                        {% for item in allergies %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item.name }}</td>
                                <td>
                                    <a href="{{ path('allergy_show', { 'id': item.id }) }}"><i class="fas fa-search"></i></a>
                                    <a href="{{ path('allergy_edit', { 'id': item.id }) }}"><i class="fas fa-edit"></i></a>
                                    <a href="{{ path('allergy_delete', { 'id': item.id }) }}"
                                       onclick="return confirm('Are you sure you want to delete this?')"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <a role="button" href="{{ path('allergy_add') }}" class="btn btn-primary">Add Allergy</a>
            </div>
            <div class="card-footer small text-muted"></div>
        </div>
    </div>
{% endblock %}


